.alert.alert-success p
  line-height 2.6em
  font-size 1.2em
  padding 0
  margin 0

p.explain
  color #666

.actions .btn
  margin-right 5px

.slider-container
  margin-left 5px
  text-align center

.slider-container .slider-icon
  margin 25px 10px
  font-size 1.5em
  position relative
  top -8px

#preview
  width 100%
  padding 10px

#preview .box
  width 50%
  display inline-block
  text-align center
  padding 0px
  margin 0

#preview .title
  width 100%
  display inline-block
  text-align center
  padding 0px
  margin 0
  
#preview .box p, #preview .title p
  margin 0
  padding-top 20px
  padding-bottom 20px
  box-sizing border-box
  min-height 60px
  border 2px solid transparent

.logo-display.thumbnail, .background-display.thumbnail
  background-color: #f6f6f6

.btn-moderate
  float right
  margin-top 20px
  
.font-selector .font-box
  display inline-block
  font-height 13px
  font-size 12px
  margin 7px 5px

.fonts-list
  overflow scroll
  max-height 300px

.fonts-list .font-selector-font a
  display block
  font-height 13px
  font-size 13px
  margin 7px 5px
  cursor pointer