.event .panel-heading h4
  display inline-block

.event .action-button
  float right
  margin-left 5px

.event .sources li:before
  content ''
  width 20px
  height 20px
  display inline-block
  float left
  border-radius 3px
  background-size 80%
  background-repeat no-repeat
  background-position 50% 50%
  margin-right 5px

.event .sources li.twitter:before
  background-image url('/img/twitter.png')
  
.event .sources li.facebook:before
  background-image url('/img/facebook.png')

.event .sources li.instagram:before
  background-image url('/img/instagram.png')

.event pre, .event .btn-open-link
  margin-top 5px
