@import url("http://fonts.googleapis.com/css?family=Open+Sans");

body
  padding-top 60px
  padding-bottom 50px
  font-family 'Open Sans', sans-serif
  background-image url('../img/icons-asphalt.jpg')
  background-color #37485E
  background-attachment fixed

a
  color #37485E

#logo
  margin-right 5px
  vertical-align middle
  height 1.4em

.container
  background-color #fff
  margin-top 0
  padding-top 20px
  box-shadow 0 0 20px rgba(0,0,0,0.2)
  min-height 100%
  border-radius 4px

@media(max-width: 768px)
  body
    padding-top 50px
    padding-bottom 0
    background-image none
    background-color #fff
  
  .container
    border-radius 0
    box-shadow none

.top-actions
  margin-bottom 5px

.bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-label
  height auto !important

.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label
  padding-top 8px
  padding-bottom 8px

.form-group label
  margin-top 5px