#loading
  text-align center
  font-size 2em
  margin-top 70px
  color #999

.moderate-new-content
  float right
  margin-top 19px
  color #666

.bootstrap-switch
  margin 0 5px 0 5px

.btn-event-settings
  float right
  margin-top 20px

.btn-filters
  float right
  margin-top 6px

.filters li
  margin-left 10px

.event-content .content-date
  text-align right
  color #666
  margin-top 5px

#event-contents
  margin-top 5px

.event-content .panel-footer .btn
  margin-right 5px
  
.event-content .panel-footer .btn-pin
  float right

.event-content .panel-footer .btn.toggled
  background-color #cae4ff
  border-color #4285f4  

.event-content .panel-footer .btn-select
  float right
  
.event-content .author div
  display inline-block

.event-content .author .picture img
  max-height 30px

.event-content .author .name
  margin-left 5px

.event-content .panel-heading .source
  width 30px
  height 30px
  display inline-block
  float right
  border-radius 3px
  background-size contain
  background-repeat no-repeat
  background-position 50% 50%

.event-content .panel-heading .source.twitter
  background-image url('/img/twitter.png')

.event-content .panel-heading .source.webapp
  background-image url('/img/webapp.png')

.event-content .panel-heading .source.facebook
  background-image url('/img/facebook.png')
  
.event-content .panel-heading .source.instagram
  background-image url('/img/instagram.png')

.event-content .content .body
  white-space: pre-line

.event-content .medias .thumbnail
  margin: 5px

.event-content .medias .thumbnail video
  max-width 100%