.alert.alert-success p
  line-height 2.6em
  font-size 1.2em
  padding 0
  margin 0

p.explain
  color #666

.actions .btn
  margin-right 5px

.events-list .bootstrap-switch
  margin-top 4px

.events-list .event-details
  color #999